.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.para {
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 800px) {
  .Title {
    font-size: 45px;
  }

  .para {
    font-size: 20px;
  }
}
